# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: sre.google.com/v2
kind: ServiceLevelObjective
metadata:
  name: generator-pubsub-ack
  labels:
    service_name: generator
    feature_name: pubsub
    slo_name: ack
    team: team2
    env: test
spec:
  goal: 0.99
  description: 99% of outstanding PubSub messages are acknowledged
  backend: cloud_monitoring
  method: good_bad_ratio
  exporters:
  - cloud_monitoring
  service_level_indicator:
    filter_good: >
      project="${PROJECT_ID}"
      metric.type="pubsub.googleapis.com/subscription/ack_message_count"
      resource.type="pubsub_subscription"
    filter_bad: >
      project="${PROJECT_ID}"
      metric.type="pubsub.googleapis.com/subscription/num_outstanding_messages"
      resource.type="pubsub_subscription"
